/* common css */
*{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
}
/* common css */
ul{
    background-color: darkblue;
}
Nav ul{
    list-style: none;
    display: flex;
}

Nav ul{
    background-color: darkblue;
    position: relative;
    justify-content: flex-end;
}
Nav ul li a{
    text-decoration: none;
    color:aliceblue;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.9375rem 1.25rem;
}
ul li:hover{
    background: rgb(124, 109, 109);
}
ul .dropdown{
    display:none;
    position: absolute;
    top: 100%;

}
ul li:hover ul.dropdown {
    display: block;
}

ul .dropdown__graphic__design{
    display:none;
    position: absolute;
    left: 100%;
    top:10px;
    margin:0;
    padding: 0;
}
ul li:hover ul.dropdown__graphic__design{
    display: block;

}
/* Nav end */
/* START HEADER SECTION */
.hero{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    display:relative;
    width: 100%;
}
.content-description{
    display:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin:auto;
    line-height: 1.5;
}
.content-description h1 {
    margin-top: 5px;
}
.content-description p {
    margin-top: 5px;
    margin-bottom: 10px;
}
.hero-section-img img{
    width: 60%;
}
span{
    color: orange
}
.button{
    display:block;
    width:100px;
    text-align: center;
    border: 1px solid orange;
    margin-top: 5px;
    padding:10px;
    color:white;
    text-decoration: uppercase;
    background-color: orange;
    border-radius: 5px ;
    font-weight: 700;
}
/* HERO SECTION END */
/* ABOUT SECTION START */
.about{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    display:relative;
    width: 100%;
}
.about-image img{
    display:flex;
    width:60%;
    margin: 0 auto;
}
.about-content{
    display:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin:auto;
    line-height: 1.5;
    width:60%
}
/* End about section */
/* Start Project section */
.project-title{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.project{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 50px 0;
}
.card{
    display:flex;
    padding:10px;
    flex-wrap: wrap;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image img{
    width: 200px;
}
.card-content{
    width:200px
}
#card-1{
    position: relative;
  left: 0px;
}